<dialog id="<%- target  %>" class="c-modalMedical js-modalDialog" aria-labelledby="<%- modalTitle  %>" aria-describedby="<%- modalDesc  %>" autofocus>
  <div class="c-modalMedical__container js-modalContainer">
    <div class="c-modalMedical__inner">
      <div class="c-modalMedical__img">
        <%- include('../common/_picture', 
        {
          baseMeta:baseMeta,
          img : img,
          spImg : 'true',
          spImgName : '',
          file : '.jpg',
          alt : '',
          webp : 'true',
          pcWidth : '',
          pcHeight : '',
          spWidth : '',
          spHeight : '',
          async : 'true', 
          lazy : 'true', 
        }
      ) %>
      </div>
      <div class="c-modalMedical__head">
        <p id="<%- modalTitle  %>" class="c-modalMedical__title"><%- title  %></p>
      </div>
      <div class="c-modalMedical__body">
        <p id="<%- modalDesc  %>" class="c-modalMedical__text c-text">
          <%- text  %>
        </p>
      </div>
      <button class="c-modalMedical__close" type="button" aria-label="モーダルを閉じる" data-modal-close></button>
    </div>
  </div>
</dialog>