<% 
const baseMeta = { 
	title:'トップページ', 
	desc:'ディスクリプション',
	path:'./',
	page:'top',
	image:'./assets/images/',
	}; 
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(baseMeta.path + 'common/_head', { baseMeta:baseMeta } ) %>

<body id="top">
  <main>
    <!-- ヘッダー -->
    <%- include(baseMeta.path + 'common/_header', { baseMeta:baseMeta } ) %>

    <div class="p-mv">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img : 'common/image1', 
        spImg : 'true', 
        spImgName : '_sp', 
        file : '.jpg',  
        alt : 'ダミー画像', 
        webp : 'true',
        pcWidth : '800',
        pcHeight : '800',
        spWidth : '300',
        spHeight : '300',
        async : 'true', 
        lazy : 'true', 
      }
    ) %>
    </div>

    <div id="sec1" class="p-mv">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img : 'common/image1', 
        spImg : 'true', 
        spImgName : '_sp', 
        file : '.jpg',  
        alt : 'ダミー画像', 
        webp : 'true',
        pcWidth : '800',
        pcHeight : '800',
        spWidth : '300',
        spHeight : '300',
        async : 'true', 
        lazy : 'true', 
      }
    ) %>
    </div>

    <div class="l-inner">
      <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
      <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
      <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>
      <p>テストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテストテスト</p>

      <ul hidden="until-found">
        <li>リストです</li>
        <li>リストです</li>
        <li>リストです</li>
        <li>リストです</li>
      </ul>
    </div>

  </main>
  <!-- ページトップボタン -->
  <%- include(baseMeta.path +'parts/_c-page-top') %>
  <!-- フッター -->
  <%- include(baseMeta.path +'common/_footer') %>
</body>

</html>