<% 
const baseMeta = { 
	title:'トップページ', 
	desc:'ディスクリプション',
	path:'./',
	page:'top',
	image:'./assets/images/',
	}; 
%>

<!DOCTYPE html>
<html lang="ja">
<%- include(baseMeta.path + 'common/_head', { baseMeta:baseMeta } ) %>

<body id="top">
  <main>
    <!-- ヘッダー -->
    <%- include(baseMeta.path + 'common/_header', { baseMeta:baseMeta } ) %>

    <div class="p-mv">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img:'common/image1', 
        file:'.jpg', 
        sp:'-sp', 
        alt:'ダミー画像', 
        async:'true', 
        lazy:'true', 
      }
    ) %>
    </div>

    <section class="p-sec" id="sec1">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img:'common/image1', 
        file:'.jpg', 
        sp:'-sp', 
        alt:'ダミー画像', 
        async:'true', 
        lazy:'true', 
      }
    ) %>
    </section>
    <section class="p-sec" id="sec2">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img:'common/image1', 
        file:'.jpg', 
        sp:'-sp', 
        alt:'ダミー画像', 
        async:'true', 
        lazy:'true', 
      }
    ) %>
    </section>
    <section class="p-sec" id="sec3">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img:'common/image1', 
        file:'.jpg', 
        sp:'-sp', 
        alt:'ダミー画像', 
        async:'true', 
        lazy:'true', 
      }
    ) %>
    </section>
    <section class="p-sec" id="sec4">
      <%- include(baseMeta.path +'common/_picture', 
      { 
        baseMeta:baseMeta, 
        img:'common/image1', 
        file:'.jpg', 
        sp:'-sp', 
        alt:'ダミー画像', 
        async:'true', 
        lazy:'true', 
      }
    ) %>
    </section>

  </main>
  <!-- ページトップボタン -->
  <%- include(baseMeta.path +'parts/_c-page-top') %>
  <!-- フッター -->
  <%- include(baseMeta.path +'common/_footer') %>
</body>

</html>